@model NuevoSicop.Models.ProyectosModelView


<link href="~/assets/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/assets/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

@if (@Model.Error.Length > 1)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="mdi mdi-close" aria-hidden="true"></span></button>
        <div class="icon"> <span class="mdi mdi-close-circle-o"></span></div>
        <div class="message"><strong>Problemas!</strong>@Model.Error</div>
    </div>

}
@if (@Model.Exito.Length > 1)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="mdi mdi-close" aria-hidden="true"></span></button>
        <div class="icon"> <span class="mdi mdi mdi-check"></span></div>
        <div class="message"><strong>Éxito!</strong>@Model.Exito</div>
    </div>
}
<style>
    .header4t {
        background-color: maroon;
        color: goldenrod;
    }

    .nav-link {
        color: black;
    }

        .nav-link .active {
            color: white;
            background-color: black;
        }
</style>
<div>

</div>




<div class="row">
    @*<div class="col-lg-8 row">

            <div class="col-6">@Html.LabelFor(x => Model.FiltroPrograma, new { @class = "input-group-text prp2" })</div>
            <div class="col-6">@Html.LabelFor(x => Model.FiltroClaveProyecto, new { @class = "input-group-text prp2" })</div>
        </div>*@
    <div class="col-lg-8">
        @using (Html.BeginForm("Busqueda", "Proyectos", FormMethod.Post, new { @id = "FormBusqueda" }))
        {
            @Html.HiddenFor(model => Model.NuevoProyecto.Id)
            <div class="input-group">
                <div class="input-group">
                    @Html.DropDownListFor(x => Model.IdEjercicio, Model.ListaEjercicios, "- EJERCICIO -", new { @class = "form-control", @id = "FILTRO_EMP" })
                    @*@Html.DropDownListFor(x => Model.FiltroDepartamento, Model.ListaDepartamentos, "- TIPO PERSONA -", new { @class = "form-control", @id = "FILTRO_PER" })*@
                    @Html.TextBoxFor(x => Model.FiltroClaveProyecto, new { @placeholder = "CLAVE", @class = "form-control", @style = "text-transform:uppercase;", @id = "FILTRO_CLAVE" })

                    <div class="input-group-append">
                        <button class="btn btn-secondary btn-4t"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        }
    </div>


</div>



<div class="tab-container">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item active text-center "><a class="nav-link" href="#TabDepend-1" data-toggle="tab" role="tab"><span class="icon mdi mdi-balance"></span> PROYECTO </a></li>
        @*<li class="nav-item active text-center "><a class="nav-link" href="#TabDepend-2" data-toggle="tab" role="tab"><span class="icon mdi mdi-balance"></span> DEPARTAMENTOS</a></li>*@
    </ul>



    <div class="tab-content">
        <div class="tab-pane row " id="TabDepend-1" role="tabpanel">
            <div class="card card-border-color card-border-color-dark parrafo ">

                <div class="card-body ">


                    <div class="row">

                        <div class="col-lg-12">
                            <div class="input-group">
                                <div class="input-group-prepend">@Html.LabelFor(x => Model.IdEjercicio, new { @class = "input-group-text prp2" }) </div>
                                @Html.DropDownListFor(x => Model.IdEjercicio, Model.ListaEjercicios, "-Ejercicios-", new { @class = "form-control", @id = "Ejercicios" })
                            </div>
                            @Html.ValidationMessageFor(model => Model.IdEjercicio, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    @using (Html.BeginForm("AgregarProyecto", "Proyectos", FormMethod.Post, new { @id = "AgregarProyectoForm" }))
                    {
                        @Html.HiddenFor(x => x.NuevoProyecto.Id)
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">@Html.LabelFor(x => Model.NuevoProyecto.ProgramaRecursos, new { @class = "input-group-text prp2" }) </div>
                                    @Html.DropDownListFor(x => Model.NuevoProyecto.ProgramaRecursos, Model.ListaProgramas, "-Programas-", new { @class = "form-control", @id = "Recursos" })
                                </div>
                                @Html.ValidationMessageFor(model => Model.NuevoProyecto.ProgramaRecursos, "", new { @class = "text-danger" })
                            </div>


                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-grou-prepend">@Html.LabelFor(x => Model.NuevoProyecto.Clave, new { @class = "input-group-text prp2 " }) </div>
                                    @Html.TextBoxFor(x => Model.NuevoProyecto.Clave, new { @class = "form-control", @style = "text-transform:uppercase;" })
                                </div>
                                @Html.ValidationMessageFor(model => Model.NuevoProyecto.Clave, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-lg-12">
                                <div class="input-group">
                                    <div class="input-grou-prepend">@Html.LabelFor(x => Model.NuevoProyecto.Descripcion, new { @class = "input-group-text  " }) </div>
                                    @Html.TextAreaFor(x => Model.NuevoProyecto.Descripcion, 5, 20, new { @class = "form-control rounded-0 col-lg-12", @style = "text-transform:uppercase; width:100%" })
                                </div>
                                @Html.ValidationMessageFor(model => Model.NuevoProyecto.Descripcion, "", new { @class = "text-danger" })
                            </div>


                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-grou-prepend">@Html.LabelFor(x => Model.NuevoProyecto.ImporteAutorizado, new { @class = "input-group-text prp2 " }) </div>
                                    @Html.TextBoxFor(x => Model.NuevoProyecto.ImporteAutorizado, new { @class = "form-control", @onkeypress = "return isNumberKey(event)", @style = "text-align:right" })
                                </div>
                                @Html.ValidationMessageFor(model => Model.NuevoProyecto.ImporteAutorizado, "", new { @class = "text-danger" })
                            </div>



                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-grou-prepend">@Html.LabelFor(x => Model.NuevoProyecto.Anticipo, new { @class = "input-group-text prp2 " }) </div>
                                    @Html.TextBoxFor(x => Model.NuevoProyecto.Anticipo, new { @class = "form-control", @onkeypress = "return isNumberKey(event)", @style = "text-align:right" })
                                </div>
                                @Html.ValidationMessageFor(model => Model.NuevoProyecto.Anticipo, "", new { @class = "text-danger" })
                            </div>





                            <div class="col-lg-6">
                                <div class="input-group datetimepicker" data-min-view="2" data-date-format="dd/mm/yyyy">
                                    <div class="input-group-prepend">
                                        @Html.LabelFor(model => model.NuevoProyecto.FechaInicio, new { @class = "input-group-text prp2" })
                                    </div>

                                    @Html.EditorFor(model => model.NuevoProyecto.FechaInicio, new { @class = "form-control ", @type = "text", @id = "Fechainicio", @value = "", @size = "16", @style = "width:100%" })
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary"><i class="fas fa-calendar"></i></button>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.NuevoProyecto.FechaInicio, "", new { @class = "text-danger" })

                            </div>

                            <div class="col-lg-6">
                                <div class="input-group datetimepicker" data-min-view="2" data-date-format="dd/mm/yyyy">
                                    <div class="input-group-prepend">
                                        @Html.LabelFor(model => model.NuevoProyecto.FechaTermino, new { @class = "input-group-text prp2" })
                                    </div>

                                    @Html.EditorFor(model => model.NuevoProyecto.FechaTermino, new { @class = "form-control ", @type = "text", @id = "FechaTermino", @value = "", @size = "16", @style = "width:100%" })
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary"><i class="fas fa-calendar"></i></button>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.NuevoProyecto.FechaTermino, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">@Html.LabelFor(x => Model.NuevoProyecto.Escuela, new { @class = "input-group-text prp2" }) </div>

                                    @Html.TextBoxFor(x => Model.BuscaEscuela, new { @class = "form-control", @style = "text-transform:uppercase;", @id = "BuscaEscuela" })
                                    @Html.DropDownListFor(x => Model.NuevoProyecto.Escuela, Model.ListaEscuelas, "-ESCUELA-", new { @class = "form-control", @id = "Escuelas" })

                                </div>
                                @Html.ValidationMessageFor(model => Model.NuevoProyecto.Escuela, "", new { @class = "text-danger" })
                            </div>


                            <div class="col-lg-6">
                                <div class="input-group datetimepicker" data-min-view="2" data-date-format="dd/mm/yyyy">
                                    <div class="input-group-prepend">
                                        @Html.LabelFor(model => model.NuevoProyecto.FechaAviso, new { @class = "input-group-text prp2" })
                                    </div>

                                    @Html.EditorFor(model => model.NuevoProyecto.FechaAviso, new { @class = "form-control ", @type = "text", @id = "Fecha Aviso", @value = "", @size = "16", @style = "width:100%" })
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary"><i class="fas fa-calendar"></i></button>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.NuevoProyecto.FechaAviso, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    }
                </div>
            </div>
            <div class="card-footer">
                <div align="right">
                    <div class="btn btn-4t" onclick="mostrar_procesar(); $('#AgregarProyectoForm').submit();"> <i class="fa fa-save"></i> GUARDAR</div>
                </div>
            </div>
        </div>
        <div class="tab-pane row " id="TabDepend-2" role="tabpanel">
            <div class="card card-border-color card-border-color-dark parrafo">
                @*@using (Html.BeginForm("AgregaDepartamento", "Empleados", FormMethod.Post, new { @id = "AgregaDeptoForm" }))
                    {
                        <div class="card-body row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-grou-prepend">@Html.LabelFor(x => Model.NombDepto, new { @class = "input-group-text prp2 " }) </div>
                                    @Html.TextBoxFor(x => Model.NombDepto, new { @class = "form-control", @style = "text-transform:uppercase;" })
                                </div>
                                @Html.ValidationMessageFor(model => Model.NombDepto, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-grou-prepend">@Html.LabelFor(x => Model.AbreviaDepto, new { @class = "input-group-text prp2 " }) </div>
                                    @Html.TextBoxFor(x => Model.AbreviaDepto, new { @class = "form-control", @style = "text-transform:uppercase;" })
                                </div>
                                @Html.ValidationMessageFor(model => Model.AbreviaDepto, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    }*@

            </div>
            <div class="card-footer">
                <div align="right">
                    <div class="btn btn-4t" onclick="mostrar_procesar(); $('#AgregaDeptoForm').submit();"> <i class="fa fa-save"></i> GUARDAR DEPTO</div>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="table-responsive noSwipe " style="padding: 20px">
    <table id="tablaDatos" class="table table-sm table-striped table-hover no-footer" style="background-color: rgba(200,200, 200, 0.5); color: black; font-size: 12px ">
        <thead class="text-bold">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NuevoProyecto.Clave)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NuevoProyecto.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NuevoProyecto.ImporteAutorizado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NuevoProyecto.Anticipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NuevoProyecto.FechaInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NuevoProyecto.FechaTermino)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NuevoProyecto.FechaAviso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NuevoProyecto.ClaveEscuela)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NuevoProyecto.ProgramaRecursosT)
                </th>


                <th>ACCIONES</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.ListaProyectos)
            {
                <tr>
                    <td style="font-size:10px ">
                        @Html.DisplayFor(modelItem => item.Clave)
                    </td>
                    <td style="font-size:9px ">
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td align="right" style="font-size:10px;  ">
                        <strong>  @Html.DisplayFor(modelItem => item.ImporteAutorizado)</strong>
                    </td>
                    <td align="right" style="font-size:10px ">
                        <strong>
                            @Html.DisplayFor(modelItem => item.Anticipo)
                        </strong>

                    </td>
                    <td style="font-size:10px ">
                        @Html.DisplayFor(modelItem => item.FechaInicio)
                    </td>
                    <td style="font-size:10px ">
                        @Html.DisplayFor(modelItem => item.FechaTermino)
                    </td>
                    <td style="font-size:10px ">
                        @Html.DisplayFor(modelItem => item.FechaAviso)
                    </td>
                    <td align="center" style="font-size:10px ">
                        @Html.DisplayFor(modelItem => item.ClaveEscuela)
                    </td>
                    <td style="font-size:9px">
                        @Html.DisplayFor(modelItem => item.ProgramaRecursosT)
                    </td>
                    <td>
                        <div class=" row">
                            <div class="col-6">
                                @using (Html.BeginForm("EditarProyecto", "Proyectos", FormMethod.Post, new { @id = "EditarForm_" + item.Id }))
                                {
                                    @Html.HiddenFor(model => model.NuevoProyecto.Id, new { id = "IdProyecto", Value = item.Id })
                                }
                                <button class="btn btn-primary btn-sm" data-toggle="tooltip" title="Editar Proyecto" onclick="$('#EditarForm_@item.Id').submit(); mostrar_procesar();"><i class="fa fa-pen-alt"></i> </button>
                            </div>
                            @*<div class="col-6">
                                    @using (Html.BeginForm("Deshabilitar", "Empleados", FormMethod.Post, new { @id = "DeshabilitaForm_" + item.Id }))
                                    {
                                        @Html.HiddenFor(model => model.NuevoEmpleado.Id, new { id = "IdEmpleado", Value = item.Id })
                                    }
                                    <button class="btn btn-warning btn-sm" data-toggle="tooltip" title="Deshabilitar Empleado" onclick="$('#DeshabilitaForm_@item.Id').submit(); mostrar_procesar();"><i class="fa fa-address-book"></i> </button>
                                </div>*@
                            @*<div class="col-4">
                                    @using (Html.BeginForm("RegistroContra", "Empleados", FormMethod.Post, new { @id = "RegistroContratistaForm_" + item.Id }))
                                    {
                                        @Html.HiddenFor(model => model.NuevoEmpleado.Id, new { id = "IdEmpresa", Value = item.Id })
                                    }
                                    <button class="btn btn-secondary btn-sm" data-toggle="tooltip" title="Imprimir registro" onclick="$('#RegistroContratistaForm_@item.Id').submit(); mostrar_procesar();"><i class="fa fa-file-pdf"></i> </button>
                                </div>*@
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>



@section Scripts
{
    <script src="~/assets/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/datatables/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/datatables/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/assets/datatables/pdfmake/pdfmake.min.js"></script>
    <script src="~/assets/datatables/pdfmake/vfs_fonts.js"></script>
    <script src="~/assets/datatables/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/assets/datatables/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/datatables/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/datatables/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/jquery.sparkline/jquery.sparkline.min.js"></script>
    @*<script src="~/assets/js/app-tables-datatables.js"></script>*@






    @*    <script src="~/assets/jquery.sparkline/jquery.sparkline.min.js"></script>*@
    <script>
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip();
                })
                $(".datetimepicker").datetimepicker({
                    autoclose: true,
                    language: 'es',
                    componentIcon: '.fas.fa-calendar',
                    navIcons: {
                        rightIcon: 'fas fa-chevron-right',
                        leftIcon: 'fas fa-chevron-left'
                    },
                    format: "dd/mm/yyyy"
                });
                $('#tablaDatos').DataTable({
                    "language": {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Ver _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": " |< ",
                            "sLast": " >| ",
                            "sNext": " >> ",
                            "sPrevious": " << "
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        },
                        "oButtons": {
                            "sCopy": "Copiar",
                            "sPrint": "Imprimir"
                        }
                    },
                    buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],

                    "lengthMenu": [[20, 30, 40, 50, -1], [20, 30, 40, 50, "All"]],
                    dom: "<'row be-datatable-header'<'col-sm-6'l><'col-sm-6 text-right'B>>" +
                        "<'row be-datatable-body'<'col-sm-12'tr>>" +
                        "<'row be-datatable-footer'<'col-sm-5'i><'col-sm-7'p>>",
                    extend: 'pdf', className: 'btn green btn-outline', text: 'Export PDF',
                    customize: function (doc) {
                        doc.defaultStyle =
                            {
                                font: 'alef'
                            }
                        var docDefinition = {
                            // a string or { width: number, height: number }
                            pageSize: 'carta',

                            // by default we use portrait, you can change it to landscape if you wish
                            pageOrientation: 'landscape',

                            // [left, top, right, bottom] or [horizontal, vertical] or just a number for equal margins
                            pageMargins: [40, 60, 40, 60],
                        };

                    }

                });
                function isNumber(e) {
                    e = e || window.event;
                    var charCode = e.which ? e.which : e.keyCode;
                    return /\d/.test(String.fromCharCode(charCode));
                }

                function isNumberKey(evt) {
                    return [46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57].includes(evt.charCode);
                }

                $(document).ready(function () {
                    $("#Ejercicios").change(function (e) {
                        var d = {};

                        var ind = $("#Ejercicios").children("select option:selected").val();
                        d.url = '@Url.Action("CargaRecursos", "Proyectos")';
                        d.type = "POST";
                        d.data = JSON.stringify({ ent: ind });
                        d.dataTipe = "json";
                        d.contentType = "application/json";
                        d.success = function (r) {
                            console.log(r);
                            $("#Recursos").empty();
                            $("#Recursos").prepend("<option value='' >-PROGRAMAS-</option>");
                            for (var i = 0; i < r.Genericos.length; i++) {
                                $("#Recursos").append('<option value="' + r.Genericos[i].Value + '">' + r.Genericos[i].Text + '</option>');

                            }

                        };
                        $.ajax(d);
                    });
                });

            $(document).ready(function () {
                $("#BuscaEscuela").keypress(function (e) {
                    var d = {};

                    var ind = $("#BuscaEscuela").val();
                    d.url = '@Url.Action("BuscaEscu", "Proyectos")';
                    d.type = "POST";
                    d.data = JSON.stringify({ ent: ind });
                    d.dataTipe = "json";
                    d.contentType = "application/json";
                    d.success = function (r) {
                        console.log(r);
                        $("#Escuelas").empty();
                        $("#Escuelas").prepend("<option value='' >-ESCUELAS-</option>");
                        for (var i = 0; i < r.Genericos.length; i++) {
                            $("#Escuelas").append('<option value="' + r.Genericos[i].Value + '">' + r.Genericos[i].Text + '</option>');

                        }

                    };
                    $.ajax(d);
                });
            });





                $('.sparkpie').sparkline('html', {
                    type: "pie",
                    height: '3em',
                    sliceColors: ['#a3d1a3', '#ffffff'],
                    tooltipFormat: '{{offset:offset}} {{value}}',
                    tooltipValueLookups: {
                        'offset': {
                            0: '% Capturado:',
                            1: '% Pendiente:',


                        }
                    },
                });

    </script>


}
